/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Buttons                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.delete{
  width: 15%;
  border-radius: 20px;
  border: solid 2px red;
  color: red;
}

.delete:hover{
  opacity: .5;
}

.edit{
  width: 15%;
  border-radius: 20px;
  border: solid 2px orange;
  color: orange; 
}

.edit:hover{
  opacity: .5;
}
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Dropdown                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.dropdown{
  background-color: gray;
  top: 44px;
  position: absolute;
  width: 200px;
  z-index: 3;
}
.dropdown > * {
  z-index: 4;
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Form                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.errors{
  color: red;
}