.message-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  height: 100%;

  overflow: auto;
  overflow-y: scroll;
  /* overflow: auto; */
  /* overflow-y: scroll; */
  /* overflow-wrap: break-word; */
}

.message-card{
  min-height: 100px;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid black 1px;
  align-items: center;
  justify-content: space-between;

}

.message-card > * {
  margin-left: 2px;
  margin-right: 2px;
}

.edit-delete-message{
  height: 2em;
  width: 2em;
  border-radius: 0.4em;
  cursor: pointer;
  display: flex;
}

#ed-menu{
  border: solid 1px black;
  cursor: pointer;
}

#message-dropdown{
  position: relative;
  top: -10px;
  /* right: 10px; */
  width: 300px;
  z-index: 5;
}

.nav-bar{
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;

  background-color: black;
  color: white;
}


#left-mes{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
#mid-mes{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}
#right-mes{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}