.messagess{
  height: calc(100% - 80px);
  width: 90%;
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages-container{
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  /* width: 20em;
  height: 10em; */
  overflow-wrap: break-word;
}

.message-card{
  display: flex;
  flex-direction: row;
  border-bottom: solid black 1px;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 100%;
}

.line{
  border-top: solid gray 0.1em;
  margin-left: auto;
  margin-right: auto;
}

