.delete{
  width: 15%;
  border-radius: 20px;
  border: solid 2px red;
  color: red;
}

.delete:hover{
  opacity: .5;
}

.edit{
  width: 15%;
  border-radius: 20px;
  border: solid 2px orange;
  color: orange; 
}

.edit:hover{
  opacity: .5;
}