*{
  box-sizing: border-box;
  width: 100%;
}

body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  color: #ffffffa8;
  /* background-color: rgb(227, 227, 227); */
}

.row-list{
  display: flex;
  flex-direction: row;
}

.col-list{
  display: flex;
  flex-direction: column;
}

a{
  color: rgb(255, 212, 166);
}

button{
  background: none;
  outline: none;
  border: solid rgb(0, 162, 255) 0.15em;
  border-radius: 1em;
  color: inherit;
  font: inherit;
  padding: 0.2em;
  cursor: pointer;
  max-height: 30px;
  /* width: 50%; */
  /* max-width: 10px; */
}