.page-container{
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#unauthenticated-app{
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main-page{
  border: 1px solid blue;
  /* height: calc(100vh - 60px); */
  height: calc(100vh - 200px);
  /* padding: 50px; */
  /* margin-bottom: 0; */
}

/* .main-page > * > .header{ */
.main-page .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  color: red;
  border: solid 1px red;
}

.right-page{
  display: flex;
  flex-direction: column;
  border: solid 3px pink;
  height: 100%;
}

.left-nav{
  width: 40%;
  border: solid 3px rgb(0, 171, 131);
  /* padding-left: 10px; */
}

#unauthenticated-header{
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.gutter{
  background-color: gray;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover{
  background-color: orange;
}

.gutter.gutter-horizontal{
  cursor: col-resize;
}
.gutter.gutter-vertical{
  cursor: row-resize;
}

.split-tester{
  height: 200px;
  width: 600px;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}

.tester-box{
  height: 50px;
  width: 50px;
  border: 1px solid blue;
}