.icon{
  height: 2em;
  width: 2em;
  border-radius: 2em;
  box-shadow: 0 0 10px #EC8642;
  cursor: pointer;
}

.icon:hover {
  border-radius: 2em;
  box-shadow: 0 0 10px white;
}

.nav-bar{
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #0e151a;
  color: white;
}

#left-nav{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
#mid-nav{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}
#right-nav{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Dropdown                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.dropdown-nav{
  /* background-color:#232529; */
  background-color: #17222A;
  box-shadow: 0 0 8px gray;

  z-index: 3;
  position: absolute;
  top: 44px;
  /* left: 100%; */
  left: calc(100% - 7em);

  width: 20em;
  height: 18em;

  padding: 1em;
  border-radius: 10px;
}

.dropdown-nav > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Dropdown Contents                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.nav-user-image{
  border: solid 0.05em black;
  border-radius: 0.4em;
  box-shadow: 0 0 8px white;

  min-height: 2em;
  max-height: 2em;
  min-width: 2em;
  max-width: 2em;

  text-align: center;
  line-height: 2em;

  cursor: pointer;  
}

.nav-user-image:hover{
  /* box-shadow: 0 0 10px white;  */
  box-shadow: 0 0 10px #EC8642;
}

.default-cursor{
  cursor: default;
}

.dropdown-cancel{
  width: 2em;
}

.nav-display-name{
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}