/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Global                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.page-container{
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             UnAuthenticated App                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
#unauthenticated-app{
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#unauthenticated-app > *{
  margin-top: 1em;
  margin-bottom: 1em;
}

#unauthenticated-header{
  border-top: solid 0.1em gray;
  padding-top: 2em;
  
  height: 30px;
  align-items: center;
  
  padding-bottom: 2em;
  border-bottom: solid 0.1em gray;
}
#unauthenticated-header > * {
  text-align: center;
}


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Authenticated App                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.main-page{ height: calc(100vh - 4em) }

.main-page .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* min-height: 40px;
  max-height: 40px; */
  min-height: 3em;
  max-height: 3em;
  
  font-weight: bold;
  
  position: sticky;
  top: 0;

  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  padding-left: 10px;
  padding-right: 10px;
}

.gutter{
  background-color: gray;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover{
  background-color: #EC8642 ;
  cursor:'col-resize';
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Left Nav                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.left-nav{
  position: relative;
  height: 100%;
  width: 40%;

  background-color: #17222A;
  
  overflow: auto;
  overflow-y: auto;
}

.hide-channels > * { display: none; }

.channels-container{ margin-bottom: 1em; }

.channel-list-item{
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.left-nav > .col-list > div, h3{ margin-top: 0.4em; margin-bottom: 0.4em; }

.channel-list-item:hover{ background-color: rgba(91, 92, 99, 0.212); }

.left-nav-about{
  border-top: 0.1em solid gray;
  padding-top: 2em;
  justify-content: space-evenly;
  /* height: 200px;

  bottom: 0;
  position: absolute; */
}

/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Right Page                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
.right-page{
  display: flex;
  flex-direction: column;
  background-color: #232C32;
  height: 100%;

  /* overflow: auto;
  overflow-y: scroll; */
}

.home-screen{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.home-screen > * {
  margin-top: 10px;
  margin-bottom: 10px;
}